* {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: #121212;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.main-text {
    margin: 160px 0px 0px 0px;
    text-align: center;


}

.footer-item {
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
}

@media (max-width:360px) {
    .main-text {
        margin: 140px 0px 0px 0px;

    }

    .h4 {
        font-size: 15px;
    }
}